/*
 *	Recommended flyout plugin stylesheet
 *
 *	Written by Barry Conlon. @Baz_Conlon http://www.barryconlon.com
 *
 *	Please do customise to fit your own website's styling
 */

#recommended-popout
{
	opacity:0;
	background-color: #222;
	color:white;
	position:fixed;
	right:0;
	bottom:20%;
	width:50%;
	max-width: 380px;
	transition: opacity 0.3s ease-in;
	padding:10px;
	z-index: 99999;
}

#recommended-popout h3
{
	color:white;
	margin: 0 0 5px;
}

#recommended-popout img
{
	float: left;
	margin: 5px 5px 0 0;
}

#popout-close
{
	display:block;
	cursor:pointer;
	position:absolute;
	top: 6px;
	right: 10px;
	padding: 0;
	font-size: 20px;
}

#recommended-popout.closed
{
	display:none;
	visibility: hidden;
}